.container{
    display:flex;
    height: 400px;
    width: 400px;
    background-color: white;
    border: 5px solid rgb(3, 101, 100);
    border-radius:10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    
}
.child{
    font-size: 50px;
    background-color: grey;
    height: 100px;
    width:100px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
}