#face{
    height:200px;
    width:200px;
    margin: 0 auto;
    background-color: yellow;
    border-radius: 50%;
    border: 1px solid black;

}
#mouth{
    background-color: red;
    height:25px;
    width:100px;
    border: 1px solid black;
    position:relative;
    top:100px;
    left:50px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;

}
.eyes{
    height:30px;
    width:30px;
    background-color: black;
    border-radius: 50%;
    border: 1px solid black;
    position:relative;
    top:50px;
    left:50px;
    display:inline-block;

}
#b{
    left:80px;
}