.container{
    
    display:grid;
    grid-template-rows: repeat(12 1fr);
    grid-template-columns: repeat(12 1fr);
    height: 100vh;
    grid-gap:10px;

}
.container div{
    font-size: 1.5 rem;
    background-color: burlywood;
    
}

.header{
    grid-column: 1/ span 12;
    
}
.sidebar{
    grid-column: 1/span 3;
    grid-row:2/span 10;
}
.main{
    grid-column: 4/span 6;
    grid-row:3/span 9 ;
    
}
.navigation{
    grid-column: 4/span 6;
   
   
}
.ads{
    grid-column: 10/ span 3;
    grid-row: 2/ span 10;
}
.footer{
    grid-column: 1/ span 12;
}


