.card{
    border:2px solid black;
    border-radius:10px ;
    padding: 10px;
    width: 400px;
    margin: 10px;

}
img{
   
    width: 100%;;
}
#pets{
    justify-content: space-evenly;
    display: flex;
}
span{
    color: orange;
}
h2{
    color: orange;

}
h4{
    color: aquamarine;
    text-align: right;
}
@media(min-width:375px){
    #pets{
        flex-wrap: wrap-reverse;
    }
}