p{
    color:#964B00;
    text-align:center;
    line-height: 30px;
}
h1{
    text-align:center;
    color:red ;
    text-decoration:teal wavy underline;
}
h3{
    text-align:center;
    color:black;
}
h4{
    text-align:center;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration:none ;
    color: green;
}
button{
    color:blueviolet ;
    background-color: white;
}
textarea{
    color: black;
}
span{
   text-decoration: teal underline;
}