*{
    font-family: poppins;
    margin: 0;
    padding: 0;
}
.main_box{
    background: url(cssminiprojectimg.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700px;
    position: absolute;
    line-height: 60px;
    left: 30px;
    cursor: pointer;
    transition: all 0.3s linear ;
}
.sidebar_menu{
    position: fixed;
    left: -500px;
    height: 100vh;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.1) ;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear ;
    
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
    position: absolute;
    left: 70px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;

}
.sidebar_menu .btn_two i{
    color:grey;
    font-size: 30px;
    font-weight: 700px;
    position: absolute;
    line-height: 60px;
    left: 350px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear ;
}

.sidebar_menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top: 100px;
}


.sidebar_menu .menu li{
    margin-top: 10px;
    padding: 15px 30px;
    

}

.sidebar_menu .menu i,a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.sidebar_menu .menu i{
    padding-right: 10px;
}

.sidebar_menu .social_media{
    
    position: absolute;
    left: 25%;
    bottom:25px;


}

.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
    transition: all 0.3s linear ;
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.btn_one i:hover{
    font-size: 50px;

}
.btn_two i:hover{
    font-size: 40px;

}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.3);
}
#check:checked~.sidebar_menu{
    left:0;

}
#check:checked~.btn_one i{
    opacity: 0;
}
#check:checked~ .sidebar_menu .btn_two i{
    opacity: 1;
}